*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

/* navbar + main section  */

.navbar{
    background-color: #0E0E0E;
    display: flex;
    color: #fff;
    padding: 50px 230px 0;
}
.navbar .left{
    height: 10vh;
}
.navbar img:nth-child(2){
    position: relative;
    top: -200px;
    margin-right: 150px;
}



.navbar .right .menue{
    display: flex;
    list-style: none;
    gap: 50px;
    font-weight: 600;
    align-items: center;
}

.navbar .right .menue li:hover{
    cursor: pointer;
    color: gray;

}

.shop{
    border: none;
    background-color:#181A1B;
    height: 50px;
    width: 140px;
    color: #fff;
    border-radius: 10px;
    margin-left: 30px;
}

.navbar .right{
    height: 80vh;
}
.navbar .right .menue button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #181A1B;
}

.navbar .onear{
    margin-top: 40px;
}

.navbar .onear img:nth-child(1){
    margin:0 0 0 50px;
    
}

.navbar .onear h1{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
}

.navbar .onear h3{
    margin-bottom: 20px;
}

.navbar .onear p{
    color: gray;
    margin-bottom: 50px;
}

.navbar .onear button{
    display: flex;
    gap: 10px;
    width: 230px;
    margin-left: 0;
    align-items: center;
    border: none;
    margin-bottom: 0px;
}

.navbar .onear button img{
    position: relative;
    left: -25px;
    margin-right: 0px;
}
.navbar .onear button p{
   position: relative;
   left: -15px;
   top: 25px;
   font-size: 14px;
   color: #fff;
}
.navbar .onear button span{
    position: relative;
    left: -10px;
    font-size: 17px;
    font-weight: bold;
}

/* logo section */

.logo{
    background-color:#0E0E0E;
    padding: 0 300px;
    display: flex;
    gap:150px;
    padding-bottom: 50px;
    margin-bottom: 0;
}

.logo img{
    width: 100px;
    height: 35px;
}

/* specs section  */
.specs{
    background-color: #0E0E0E;
}

.specs .specs-logo{
    display: flex;
    
    justify-content: center;
    padding:10vh 0 6vh 0;

}

.specs .abc{
    display: flex;
    justify-content: center;
    gap: 100px;
    color: #fff;
    padding-bottom: 15vh;
}
.specs .abc .bluetooth{
    margin-bottom: 20px;
}

.specs .abc .left .bluetooth h3{
    font-size: 15px;
    font-weight: 500;
}

.specs .abc .left .bluetooth p{
    font-size: 12px;
    color: gray;
}
.specs .abc .left .bluetooth:nth-child(1), .bluetooth:nth-child(4){
    position: relative;
    left: 50px;
}

/* case section  */
.case{
    background-color: #0E0E0E;


}
.case .case-logo{
    display: flex;
    justify-content: center;
    padding:5vh 0 6vh;
}

.case .content{
    display: flex;
    justify-content: center;
    gap: 100px;
    color:gray;
    margin-bottom: 15vh;
}

.case .content .right{
    padding-top: 100px;
    font-size: 16px;
}

.case .content .right button{
    margin-left: 0;
    margin-top: 50px;
    width: 150px;
    height: 55px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 15px;
}

/* gray section  */

.gray{
    margin-left: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #181A1B;
    width: 60vw;
    height: 45vh;
    border-radius: 20px;
    gap: 100px;

}

.gray .left h2{
    font-size: 23px;
    font-weight: 600;
    
}

.gray .left p{
    font-size: 15px;
    color: gray;
    margin:15px 0;
}

.gray .left button{
    margin-left: 0;
    background-color: #000000;
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.gray .left button p{
    color: #fff;
}


/* style section  */

.style{
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    padding: 100px;
    flex-direction: column;
}
.style .style-img{
    display: flex;
    justify-content: center;
}

.style .choose{
    display: grid;
    justify-content: center;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto;
  gap: 100px 140px;
  padding-top: 100px;
  position: relative;
  left: -50px;
}

.style .choose .card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #181A1B;
    width: 140px;
    height: 140px;
    border-radius: 10px;
}

.style .choose .card:hover{
    background-color: rgb(93, 87, 87);
    color: #000000;
    cursor: pointer;
}


.style .choose .card .headphone{
    width: 90px;
    position: relative;
    left: 25px;
    top: -20px;
}

.style .choose .card .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 35px 10px;
}

.style .choose .card .name p{
    color: #fff;
    font-size: 12px;
}

.style .choose .card .name p span{
    color: gray;
    font-weight: 600;
}
.style .choose .card .name .bag{
    background-color: #000000;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
.style .choose .card .name .bag img{
    width: 15px;
}

/* bottom section  */
.bottom{
    background-color: #0E0E0E;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 100px 0 150px 200px;
}

/* .bottom div:nth-child(1) img{
   background-color: #000000;} */



.bottom .list li{
    list-style: none;
    font-size: 14px;
    color: rgb(158, 158, 158);
    margin-bottom: 10px;
}
.bottom .list li:nth-child(1){
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
    list-style: none;
    color: #fff;

}
.email{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.email input{
    width: 310px;
    height: 60px;
    border-radius: 10px;
    padding-left: 20px;
    background-color: #181A1B;
    border: none;
}

.email button{
    margin-left: 0;
    background-color: #000000;
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    left: -135px;
    font-size: 12px;}

.s-icon{
    display: flex;
    gap: 20px;
}
.uparrow{
    padding-top: 120px;
}